
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.pic1
{
    background-image: url("./Images/1.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.pic1 h2{
    
    text-transform: capitalize;
    font-size: 100px;
}
section{
    text-transform: capitalize;
    text-align: justify;
    padding: 20px;
}

section h2{
    text-align: center;
}

.pic2
{
    background-image: url("./Images/2.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
      display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.pic2 h2{
    
    text-transform: capitalize;
    font-size: 100px;
}