*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.legit
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.con
{
    border: 3px solid black;
    border-radius: 10px;
    width: 500px;
    height: 600px;
    background-color: beige;
}

.mg
{
    display: flex;
     gap: 40px;
     margin: 10px;
    
}

.mg img{
    border: 3px solid black;
    border-radius: 100px;
   
}

.mg p 
{
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 80px;
}

.headin
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.about
{
    padding: 10px;
}
footer{
    margin: 10px;
}
footer h2
{
  font-family: Arial, Helvetica, sans-serif;   
}

footer ul{
    list-style-position: inside;
    padding-left: 10px;
}