*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,body{
    width: 100%;
    height: 100vh;
    background-image: url(./2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    padding: 20px;
    font-size: 20px;
}

.links a{
    text-decoration: none;
    padding:20px;
    font-size: 20px;
}

.register
{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    background: indianred;
    border-radius: 8px;
    margin-top: 10px;
    color: white;
}